#unit-tree {
  background-color: #555555;
  .get-oc-tb {
      display: none;
  }
  .get-up {
      top: 0px !important;
  }
  .get-org-chart rect.get-box {
      fill: #ffffff;
      stroke: #D9D9D9;
  }
  .get-org-chart rect.default-btn {
      fill: #F8F8F8;
      stroke: #D9D9D9;
  }

  .get-text-center {
      text-align: center;
  }
  .get-org-chart .get-text.get-text-0 {
      fill: #262626;
      font-size: 20px;
      text-align: center;
  }

  .get-org-chart .get-text.get-text-1 {
      fill: #262626;
  }

  .get-org-chart .get-text.get-text-2 {
      fill: #788687;
  }
  .button-text {
      font-size: 20px;
  }

  .get-green.get-org-chart {
      background-color: #f2f2f2;
  }
  .more-info {
      fill: #18879B;
  }

  .btn path {
      fill: #F8F8F8;
      stroke: #D9D9D9;
  }

  .btn {
      cursor: pointer;
  }

  .btn circle {
      fill: #555555;
  }

  .btn line {                
      stroke-width: 3px;
      stroke: #ffffff;
  }
}