.comment-modal {
  display: flex;
  flex-direction: column;
  width: 750px;
  .comment-name {
    text-align: center;
    font-size: 20px;
    padding: 10px;
  }
  .comment-rate {
    text-align: right;
    padding: 10px;
  }
  .modal-comment {
    border-top: 2px solid;
    padding: 10px 0px;
    display: flex;
    .comment-date {
      padding: 10px 20px;
      flex: 1;
    }
    .comment {
      padding: 10px 0px;
      flex: 6;
    }
  }
  .comment-button {
    cursor: pointer;
    background-color: #e8e8e8;
    height: 40px;
    width: 100px;
    display: flex;
    border: 1px solid #e8e8e8;
    box-shadow: 0px 1px 3px rgba(0,0,0,.5);
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}