#student-unit-tree {
  background-color: #555555;
  .get-oc-tb{
      display: none;
  }
  .get-up {
      top: 0px !important;
  }
  .get-org-chart rect.get-box {
      fill: #ffffff;
      stroke: #D9D9D9;
  }
  .get-org-chart rect.default-btn {
      fill: #F8F8F8;
      stroke: #D9D9D9;
  }

  .get-text-center {
      text-align: center;
  }
  .get-org-chart .get-text.get-text-0 {
      fill: #262626;
      font-size: 20px;
  }

  .get-org-chart .get-text.get-text-1 {
      fill: #262626;
      font-size: 20px;
  }

  .get-org-chart .get-text.get-text-2 {
      fill: #262626;
      font-size: 20px;
  }

  .get-org-chart .get-text.get-text-3 {
    fill: #262626;
    font-size: 20px;
  }
  .button-text {
      font-size: 20px;
  }

  .get-green.get-org-chart {
      background-color: #f2f2f2;
  }
  .more-info {
      fill: #18879B;
  }

  .btn path {
      fill: #F8F8F8;
      stroke: #D9D9D9;
  }

  .btn {
      cursor: pointer;
  }

  .btn circle {
      fill: #555555;
  }

  .btn line {                
      stroke-width: 3px;
      stroke: #ffffff;
  }
}
.modal-close-button {
    display: none;
}
.react-confirm-alert-overlay {
    background: rgba(0,0,0,0.5)
}
.custom-ui {
    text-align: center;
    width: 500px;
    padding: 40px;
    background: #FFF;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23);
    color: #fff;
    border-radius: 5px;
    h2 {
        margin-top: 0;
    }
    button {
        width: 160px;
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 5px;
        margin: 10px;
        cursor: pointer;
        background: none;
        color: #000;
        font-size: 14px;
        box-shadow: 0px 1px 3px rgba(0,0,0,.5);
    }
    .yes-confirm {
        background: #14d2b8;
        border: 1px solid #14d2b8;
        color: #FFF;
    }
}